<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46353821029-jn6or1jl99l3odht1vnpel87a0ork3lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46353821029-jn6or1jl99l3odht1vnpel87a0ork3lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBjM5szJ8rV24KdfK_gFw-UQDDd-EGtQ60</string>
	<key>GCM_SENDER_ID</key>
	<string>46353821029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelabadi.smarttrip</string>
	<key>PROJECT_ID</key>
	<string>smarttrip-f9b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttrip-f9b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46353821029:ios:0b388542f2a9a14c6e058c</string>
</dict>
</plist>